
{% extends "::base.html.twig" %}

{% block body %}
    <div id="project-fpage" class="container">
    <div class="row">
        <div class="text-center">
            <h1>Projektų puslapis</h1>
        </div>
        <table class="table table-sm table-inverse">
            <thead>
            <tr>
                <th>ID</th>
                <th>Projektas</th>
                <th>Klientas</th>
                <th>Nuoroda</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>5</td>
                <td><a href="/projects/show">Projektas4.lt</a></td>
                <td>Vardenis</td>
                <td>projektas4.lt</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Projektas5.lt</td>
                <td>Vardenis</td>
                <td>projektas4.lt</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Projektas22.lt</td>
                <td>Vardenis</td>
                <td>projektas22.lt</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Projektas12.lt</td>
                <td>Vardenis</td>
                <td>projektas12.lt</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}