
{% extends "::base.html.twig" %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>Projektas</h1>
                </div>
                <p>Aprašymas.....................</p>
            </div>
        </div>

{% endblock %}