{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <p>puslapis about us</p>
            <a href="/">Pradinis puslapis</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
