
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-3">
                <p>Ups... nieko nerasta.. <a class="a-hover" href="about"> grįžti į pradinį puslapį</a></p>
            </div>
        </div>
    </div>
{% endblock %}