#project-page {
    margin-top: 40px;
}
.navbar-inverse {
    background-color: #2E7ba9;
}
#sidebar-wrapper {
    background: #363939;
}
.dropdown-toggle{
    color: white !important;
    font-size: 16px;
    margin-top: 15px
}
.front-page-logo{
    text-align: center;
    margin-top: 170px;
}
.front-page-logo-text{
    display: inline;
    font-size: 36px;
    color: white;
}
.page-logo img{
    height: 50px;
    width: 50px;
}
.page-logo-text{
    display: inline;
    font-size: 20px;
    color: white;
}
.front-page-title{
    display: inline;
    margin-top: 30px;
    color: #B4B9BE;
    font-size: 20px;
    font-style: italic;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: rgba(239, 239, 239, 0.7);
    text-align: center;
}
/*tasks table colors*/
.table-success {
    background-color: #dff0d8;
}
.table-danger{
    background-color: #f2dede;
}
.table-warning{
    background-color: #fcf8e3;
}
/**/
.offer-img-size img{
    width: 100%;
    height: 150px;
}
.offers-margin{
    margin-bottom: 20px;
}
.paragraph-display-inline{
    display: inline;
}
.task-checkbox-margin{
    margin-left: 15px;
}
.user-img-size img{
    width: 100%;
    height: 250px;
}

.login_error_message{
    display: inline;
    font-size: 20px;
}