
{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">

        <div class="row">
                <div class="text-center">
                    <h3>Pasiūlymai</h3>
                    <p>Vieta, kur darbuotojai gali siūlyti savo idėjas</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="offer-img-size">
                            <img src="{{ asset('images/offer.jpg') }}" />
                        </div>
                        <div class="text-center">
                            <h4>Pasiūlymas1</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate viverra ornare. Curabitur finibus eu turpis sed vehicula. Suspendi</p>
                    </div>
                    <div class="col-md-4">
                        <div class="offer-img-size">
                            <img src="{{ asset('images/offer1.jpg') }}" />
                        </div>
                        <div class="text-center">
                            <h4>Pasiūlymas2</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate viverra ornare. Curabitur finibus eu turpis sed vehicula. Suspendi</p>
                    </div>
                    <div class="col-md-4">
                        <div class="offer-img-size">
                            <img src="{{ asset('images/offer2.jpg') }}" />
                        </div>
                        <div class="text-center">
                            <h4>Pasiūlymas3</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate viverra ornare. Curabitur finibus eu turpis sed vehicula. Suspendi</p>
                    </div>
                    <div class="clearfix offers-margin"></div>
                    <div class="col-md-4">
                        <div class="offer-img-size">
                            <img src="{{ asset('images/offer2.jpg') }}" />
                        </div>
                        <div class="text-center">
                            <h4>Pasiūlymas3</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate viverra ornare. Curabitur finibus eu turpis sed vehicula. Suspendi</p>
                    </div>
                </div>
            </div>


{% endblock %}